@charset "UTF-8";
/* scss関数群
------------------------------------------ */

// コンテンツ幅の指定
$sp_content_width: 390;
$pc_full_width: 1400;
$pc_content_width: 1030;

// 本番用か否か？本番用の場合は1にする。0の場合はpxで出力される。(パーフェクトピクセル用)
$production: 1;

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp_content_width);
}

// PC用: vwへの変換
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc_full_width);
}

// pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

// 下記でmin/max関数をScssの関数ではなくcssの関数として出力するためのラッパー
@function min($values...) {
    @return unquote("min(#{$values})");
}

@function max($values...) {
    @return unquote("max(#{$values})");
}

// vwで動作し、pxで頭打ちにする関数
@function mvw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    $value1: calc($px * 100vw / $pc_content_width);
    $value2: px2Rem($px);

    @if $px>=0 {
        @return min($value1, $value2);
    } @else {
        @return max($value1, $value2);
    }
}

// ブレークポイント設定
$breakpoints: (
    "sm": "screen and (min-width: 390px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1030px)",
    "xl": "screen and (min-width: 1400px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// 字間トラッキングのmixin
@mixin tracking($tracking) {
    letter-spacing: ($tracking / 1000) + em;
}

// 行間のmixin
@mixin font-lin($fontsize, $lin) {
    //$fontsizeの数値の単位はpx
    line-height: $lin / $fontsize;
}

/* 共通------------------ */
html {
    scroll-behavior: smooth;
    scroll-padding-top: px2Rem(10);
}

/* カラー変数 */
$color-white: #fff;
$color-text: #333;
$color-pink: #fa7da3;
$color-lightpink: #fdf0f5;
$color-green: #49c43d;
$color-hover: #40e02f;
$color-yellow: #fffd7a;
$color-blue: #50bfff;
$color-brown: #4d2b1b;
$color-subtitle: #4d2c1c;
$color-campaign: #fffedd;
$color-dot: #ffd2d2;

/* リセット */
a {
    color: $color-text;
    text-decoration: none;
    // リンクホバー時
    &:hover {
        opacity: 0.6;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

// コンテナー横幅と左右の余白
.w-container {
    max-width: vw($sp_content_width);
    height: 100%;
    margin-inline: auto;
    @include mq() {
        max-width: mvw($pc_content_width);
    }
}

/* bodyフォント・ボックスサイジング*/
body {
    box-sizing: border-box;
    font-size: vw(16);
    line-height: 1.5;
    color: $color-text;
    font-family: "Noto Sans JP", sans-serif;
}

$font-outfit: "Outfit", sans-serif;

/*セクション共通*/
/*セクション*/
.section {
    &__title {
        margin-left: vw(3);
        margin-bottom: vw(32);
        @include mq() {
            margin-bottom: mvw(60);
        }
        &-sub {
            font-size: vw(18);
            font-weight: 500;
            color: $color-brown;
            @include font-lin(18, 28);
            @include tracking(40);
            text-align: center;
            margin-bottom: vw(15);
            @include mq() {
                font-size: mvw(24);
                @include font-lin(24, 37.11);
                margin-bottom: mvw(21);
            }
        }
        &-main {
            text-align: center;
            &-text {
                position: relative;
                font-size: vw(32);
                font-weight: 700;
                color: $color-pink;
                @include font-lin(32, 28);
                letter-spacing: 0.05em;
                @include mq() {
                    font-size: mvw(42);
                    @include font-lin(42, 37.19);
                    @include tracking(0);
                }
                &::before {
                    position: absolute;
                    bottom: vw(-10);
                    left: calc(50% + vw(106.5));
                    width: vw(37.31);
                    height: vw(46);
                    content: "";
                    display: inline-block;
                    background-image: url("/assets/image/shape_right.svg");
                    background-position: center;
                    background-size: contain;
                    @include mq() {
                        bottom: mvw(-13);
                        left: calc(50% + mvw(144));
                        width: mvw(50);
                        height: mvw(61);
                    }
                }
                &::after {
                    position: absolute;
                    bottom: vw(-10);
                    right: calc(50% + vw(111.5));
                    width: vw(37.31);
                    height: vw(46);
                    content: "";
                    display: inline-block;
                    background-image: url("/assets/image/shape_left.svg");
                    background-position: center;
                    background-size: contain;
                    @include mq() {
                        bottom: mvw(-13);
                        right: calc(50% + mvw(146));
                        width: mvw(50);
                        height: mvw(61);
                    }
                }
            }
        }
    }
}

/*ラベルボックス*/
.label-box {
    width: vw(350);
    border: solid vw(1) $color-pink;
    border-radius: vw(10);
    text-align: center;
    margin-inline: auto;
    @include mq() {
        width: mvw(780);
        border: solid mvw(1) $color-pink;
        border-radius: mvw(10);
    }
    &__title {
        background-color: $color-pink;
        font-size: vw(18);
        color: $color-white;
        border-top-left-radius: vw(10);
        border-top-right-radius: vw(10);
        padding-block: vw(9);
        @include mq() {
            font-size: mvw(28);
            border-top-left-radius: mvw(10);
            border-top-right-radius: mvw(10);
            padding-block: mvw(16);
        }
    }
    &__content {
        font-size: vw(14);
        @include tracking(40);
        text-align: left;
        background-color: $color-white;
        border-bottom-left-radius: vw(10);
        border-bottom-right-radius: vw(10);
        padding-top: vw(15);
        padding-bottom: vw(16);
        padding-inline: vw(20);
        @include mq() {
            font-size: mvw(21);
            @include tracking(40);
            @include font-lin(21, 33.87);
            border-bottom-left-radius: mvw(10);
            border-bottom-right-radius: mvw(10);
            padding-top: mvw(23);
            padding-bottom: mvw(32);
            padding-inline: mvw(41);
        }
    }
}

/*ヘッダー------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: vw(60);
    z-index: 100;
    background-color: $color-white;
    @include mq() {
        height: mvw(92);
        padding-inline: mvw(20);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding-inline: vw(9);
        @include mq() {
            padding-inline: 0;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        width: vw(75);
        padding-left: vw(4);
        @include mq() {
            padding-left: mvw(1);
            width: mvw(97);
        }
    }
    &__button {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        gap: vw(10);
        @include mq() {
            gap: mvw(21);
            margin-right: mvw(3);
        }
        &-item {
            display: block;
            height: vw(31);
            color: $color-white;
            font-size: vw(12);
            text-align: center;
            border-radius: vw(15.5);
            background-color: $color-pink;
            padding-block: vw(9);
            padding-left: vw(10);
            padding-right: vw(5);
            @include tracking(40);
            line-height: 1;
            margin-bottom: vw(1);
            @include mq() {
                height: mvw(50.36);
                font-size: mvw(21.12);
                @include tracking(0);
                border-radius: mvw(25.18);
                padding-block: mvw(15);
                padding-left: mvw(10);
                padding-right: 0;
                margin-bottom: mvw(-1);
            }
            &--pink {
                width: vw(107);
                background-color: $color-pink;
                @include mq() {
                    width: mvw(189.01);
                }
            }
            &--green {
                width: vw(173.77);
                background-color: $color-green;
                @include mq() {
                    width: mvw(295.49);
                }
            }
            &-small {
                font-size: vw(10);
                @include mq() {
                    font-size: mvw(16.74);
                }
            }
            &-arrow {
                width: vw(6);
                margin-left: vw(3);
                @include mq() {
                    width: mvw(11);
                    margin-left: mvw(4);
                }
            }
        }
    }
}

/*メインビジュアル------------------*/
.main-visual {
    margin-top: vw(60);
    width: 100%;
    height: vw(314);
    background-color: $color-pink;
    @include mq() {
        margin-top: mvw(90);
        height: mvw(614);
    }
    &__container {
        position: relative;
        color: $color-white;
        background-image: url("/assets/image/woman_sp.png");
        background-size: vw(213);
        background-position: vw(3) vw(96);
        @include mq() {
            background-image: url("/assets/image/woman_pc.png");
            background-size: mvw(493);
            background-position: left bottom;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        @include mq() {
            margin-right: mvw(31);
        }
    }

    &__title {
        position: absolute;
        width: vw(165);
        top: vw(22);
        left: vw(20);
        @include mq() {
            top: mvw(3);
            left: mvw(20);
            width: mvw(541);
        }
        &-full-image {
            width: vw(165);
            vertical-align: top;
            @include mq() {
                width: mvw(541);
            }
        }
    }
    &__badge {
        display: flex;
        width: vw(188);
        height: vw(107);
        align-items: flex-start;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: vw(3.536) vw(3.536) vw(0) vw(0) rgba(0, 0, 0, calc(0.25 * 0.3));
        padding-block: vw(23);
        padding-left: vw(27);
        @include mq() {
            width: mvw(423);
            height: mvw(222);
            grid-template-columns: mvw(108) auto;
            gap: mvw(0);
            box-shadow: mvw(3.536) mvw(3.536) mvw(0) mvw(0) rgba(0, 0, 0, calc(0.25 * 0.3));
            padding-block: mvw(44);
            padding-left: mvw(59);
        }

        &-left {
            display: flex;
            flex-direction: column;
            &-now {
                width: vw(47);
                height: vw(23);
                font-size: vw(13);
                font-weight: 700;
                color: $color-pink;
                text-align: center;
                background-color: $color-white;
                padding-top: vw(1);
                margin-top: vw(2);
                @include mq() {
                    width: mvw(105.76);
                    height: mvw(51.65);
                    font-size: mvw(29.25);
                    padding-top: mvw(3);
                    margin-top: mvw(2);
                }
            }
            &-first {
                font-size: vw(24);
                font-weight: 700;
                margin-top: vw(2);
                @include mq() {
                    font-size: mvw(54);
                    margin-top: mvw(6);
                }
            }
        }
        &-right {
            font-weight: 700;
            letter-spacing: 0.15em;
            color: $color-yellow;
            padding-left: vw(13);
            @include mq() {
                padding-left: mvw(29);
            }
            &-zero {
                font-size: vw(72);
                line-height: 0.7;
                @include mq() {
                    font-size: mvw(160);
                    letter-spacing: 0.04em;
                    line-height: 0.7;
                }
                & span {
                    font-size: vw(36);
                    @include mq() {
                        font-size: mvw(81);
                    }
                }
            }
        }
    }

    &__monthly {
        font-family: $font-outfit;
        font-size: vw(14);
        text-align: end;
        margin-right: vw(25);
        margin-top: vw(6);
        @include mq() {
            font-size: mvw(26.5);
            margin-right: mvw(61);
            margin-top: mvw(5);
        }
        & span {
            font-size: vw(9);
            @include mq() {
                font-size: mvw(17);
            }
        }
    }
    &__list {
        display: grid;
        width: 100%;
        grid-auto-flow: row;
        justify-content: flex-end;
        gap: vw(12);
        margin-top: vw(21);
        margin-right: vw(26);
        @include mq() {
            gap: mvw(20);
            margin-top: mvw(45);
            margin-right: 0;
        }
        &-item {
            width: vw(133);
            height: vw(35);
            font-size: vw(18);
            text-align: center;
            border: solid vw(1) $color-white;
            margin-block: auto;
            @include mq() {
                width: mvw(423);
                height: mvw(69);
                font-size: mvw(28);
                border: solid mvw(1) $color-white;
            }
            &-text {
                line-height: vw(31);
                @include mq() {
                    font-feature-settings: "palt";
                    line-height: mvw(67);
                }
            }
        }
    }
}

/*キャンペーン------------------*/
.campaign {
    background-color: $color-campaign;

    &__container {
        text-align: center;
        padding: vw(19) vw(19) vw(16);
        @include mq() {
            max-width: mvw(552);
            padding: mvw(38) 0 mvw(23);
        }
    }

    &__top {
        position: relative;
        font-size: vw(21);
        color: $color-pink;
        margin-bottom: vw(10);
        margin-left: vw(2);
        @include mq() {
            font-size: mvw(34);
            margin-bottom: mvw(18);
            margin-left: 0;
        }
        & span {
            margin-left: vw(2);
            @include mq() {
                margin-left: mvw(13);
            }
        }
        &::before {
            position: absolute;
            bottom: vw(2);
            left: vw(124);
            content: "";
            display: inline-block;
            width: vw(2);
            height: vw(27);
            background-color: $color-pink;
            transform: rotate(-30deg);
            @include mq() {
                left: mvw(194);
                bottom: mvw(2);
                width: mvw(2);
                height: mvw(43);
            }
        }
        &::after {
            position: absolute;
            bottom: vw(2);
            right: vw(124);
            content: "";
            display: inline-block;
            width: vw(2);
            height: vw(27);
            background-color: $color-pink;
            transform: rotate(30deg);
            @include mq() {
                right: mvw(190);
                bottom: mvw(2);
                width: mvw(2);
                height: mvw(43);
            }
        }
    }

    &__middle {
        &.label-box {
            margin-left: vw(2);
            @include mq() {
                width: mvw(552);
                margin-inline: auto;
            }
            &__title {
                font-size: vw(21);
                line-height: 1;
                padding-top: vw(3);
                padding-bottom: vw(7);
                @include mq() {
                    font-size: mvw(32);
                    padding-top: mvw(3);
                    padding-bottom: mvw(11);
                }
            }
            &__content {
                padding-block: vw(20);
                font-size: vw(27);
                text-align: center;
                color: $color-pink;
                line-height: 1;
                @include tracking(0);
                font-feature-settings: normal;
                padding-top: vw(7);
                padding-bottom: vw(11);
                @include mq() {
                    font-size: mvw(43.67);
                    padding-top: mvw(10);
                    padding-bottom: mvw(21);
                }
                &-text {
                    padding-left: vw(11);
                    @include mq() {
                        padding-left: mvw(19);
                    }
                    & span {
                        font-size: vw(42);
                        font-weight: 700;
                        @include mq() {
                            font-size: mvw(67.93);
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        font-size: vw(10);
        letter-spacing: 0.005em;
        margin-top: vw(7);
        @include mq() {
            font-size: mvw(14);
            margin-top: mvw(17);
            margin-right: mvw(6);
        }
    }
}

/*カウンセリング------------------*/
.counseling {
    &__container {
        text-align: center;
        padding: vw(13) vw(20) vw(30);
        @include mq() {
            width: mvw(570);
            padding: mvw(52) 0 mvw(47);
        }
    }

    &__title {
        font-size: vw(21);
        font-weight: 600;
        @include tracking(100);
        color: $color-pink;
        margin-bottom: vw(8);
        margin-left: vw(10);
        @include mq() {
            font-size: mvw(34);
            margin-bottom: mvw(13);
            margin-left: mvw(14);
        }
    }

    &__button {
        position: relative;
        display: inline-block;
        width: 100%;
        height: vw(80);
        background-color: $color-green;
        color: $color-white;
        font-size: vw(21);
        font-weight: 700;
        @include font-lin(21, 28);
        @include tracking(100);
        border-radius: vw(40);
        padding-block: vw(11);
        margin: auto;
        @include mq() {
            width: mvw(570);
            height: mvw(130);
            font-size: mvw(34);
            border-radius: mvw(65.05);
            padding-block: mvw(17);
        }
        &:hover {
            background-color: $color-hover;
            opacity: 1;
        }

        &-text {
            width: 100%;
        }
        &-br {
            display: inline-block;
        }
        &-right-arrow {
            width: vw(12);
            position: absolute;
            right: vw(32);
            top: calc(50% - vw(10));
            @include mq() {
                width: mvw(20);
                right: mvw(50);
                top: calc(50% - mvw(16));
            }
        }
    }
    &-two {
        padding-top: vw(11);
        @include mq() {
            padding-top: 0;
        }
    }
    &-three {
        padding-top: vw(12);
        padding-bottom: vw(12);
        @include mq() {
            padding-top: 0;
            padding-bottom: mvw(18);
        }
    }
}

/*トライアル------------------*/
.trial {
    &__container {
        // padding: 0 vw(20) vw(34);
        padding-top: 0;
        padding-bottom: vw(34);
        @include mq() {
            width: mvw(571);
            padding: 0 0 mvw(53);
        }
    }

    &__title {
        font-size: vw(17);
        font-weight: 600;
        color: $color-blue;
        @include font-lin(17, 28);
        @include tracking(100);
        text-align: center;
        border-top: $color-blue vw(1) solid;
        border-bottom: $color-blue vw(1) solid;
        padding-block: vw(5.5);
        margin-inline: vw(20);
        @include mq() {
            font-size: mvw(28);
            border-top: $color-blue mvw(2) solid;
            border-bottom: $color-blue mvw(2) solid;
            padding-top: mvw(6.5);
            padding-bottom: mvw(10);
            margin-inline: 0;
        }
    }
    &__content {
        width: vw(360);
        font-size: vw(14);
        letter-spacing: -0.007em;
        padding-top: vw(11);
        padding-left: vw(7);
        margin-inline: auto;
        @include mq() {
            width: mvw(600);
            font-size: mvw(22.86);
            padding-top: mvw(16);
            padding-left: 0;
            letter-spacing: -0.01em;
        }
        &-text {
            margin-bottom: vw(3);
            @include mq() {
                margin-bottom: mvw(5);
            }
            &-small {
                font-size: vw(11);
                @include mq() {
                    font-size: mvw(17.96);
                }
            }
        }
    }
}

/*3つのポイント------------------*/
.point {
    background-color: $color-lightpink;
    &__container {
        padding: vw(32) vw(19) vw(30) vw(21);
        @include mq() {
            width: mvw(782);
            padding: mvw(49) 0 mvw(59);
        }
    }
    &__title {
        &-top {
            display: flex;
            justify-content: center;
            &.section__title {
                &-sub {
                    font-size: vw(18);
                    font-weight: 500;
                    color: $color-brown;
                    @include font-lin(18, 28);
                    @include tracking(40);
                    text-align: center;
                    margin-bottom: vw(15);
                    @include mq() {
                        font-size: mvw(18.07);
                        @include font-lin(18.07, 28);
                        margin-bottom: mvw(21);
                    }
                    &-image {
                        width: vw(197);
                        vertical-align: middle;
                        padding-top: vw(4);
                        @include mq() {
                            width: mvw(263);
                            padding-top: 0;
                            padding-bottom: mvw(1);
                        }
                    }
                    &-text {
                        padding-left: vw(3);
                        @include mq() {
                            font-size: mvw(18.07);
                        }
                    }
                }
            }
        }
    }
    &__item {
        display: grid;
        width: 100%;
        gap: vw(30);
        @include mq() {
            gap: mvw(49);
        }
        &-one {
            &.label-box {
                margin-bottom: vw(1);
                @include mq() {
                    margin-bottom: mvw(1);
                }
                &__content {
                    &-text {
                        font-feature-settings: "palt";
                        @include mq() {
                            font-feature-settings: normal;
                            letter-spacing: 0.008em;
                        }
                    }
                    &-list {
                        display: flex;
                        justify-content: space-between;
                        padding-top: vw(12);
                        @include mq() {
                            justify-content: center;
                            gap: mvw(43);
                            padding-top: mvw(22);
                        }
                        &-item {
                            text-align: center;
                        }
                        &-logo {
                            display: grid;
                            place-items: center;
                            width: vw(143);
                            height: vw(85);
                            @include mq() {
                                width: mvw(232);
                                height: mvw(135);
                            }
                            &--kbl {
                                background-color: $color-white;
                                border: solid vw(1) $color-pink;
                                @include mq() {
                                    border: solid mvw(1) $color-pink;
                                }
                            }
                            &--a-salon {
                                background-color: $color-lightpink;
                                border: solid vw(1) #666;
                                @include mq() {
                                    border: solid mvw(1) #666;
                                }
                            }
                        }
                        &-name {
                            width: vw(71);
                            font-size: vw(18);
                            @include mq() {
                                width: mvw(116);
                                font-size: mvw(29.03);
                            }
                        }
                        &-description {
                            @include tracking(0);
                            margin-top: vw(5);
                            @include mq() {
                                margin-top: mvw(12);
                            }
                        }
                    }
                }
            }
        }
        &-two {
            &.label-box__content {
                padding-inline: vw(11);
                @include mq() {
                    padding-bottom: mvw(30);
                    padding-inline: mvw(32);
                }
                &-text {
                    @include tracking(0);
                    padding-inline: vw(9);
                    @include mq() {
                        padding-inline: mvw(8);
                    }
                }
                &-subtitle {
                    font-size: vw(23);
                    text-align: center;
                    color: #4d2c1c;
                    margin-top: vw(20);
                    margin-bottom: vw(23);
                    @include mq() {
                        font-size: mvw(24);
                        font-feature-settings: "palt";
                        margin-top: mvw(21);
                        margin-bottom: mvw(17);
                    }
                }
                &-full {
                    text-align: center;
                    &-image {
                        width: vw(312);
                        @include mq() {
                            width: mvw(558);
                            margin-left: mvw(28);
                        }
                    }
                }
                &-parts {
                    padding-top: vw(23);
                    @include mq() {
                        padding-top: mvw(32);
                    }
                    &-list {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, auto);
                        row-gap: vw(17);
                        column-gap: vw(10);
                        text-align: center;
                        padding-top: vw(3);
                        @include mq() {
                            grid-template-columns: repeat(6, 1fr);
                            grid-template-rows: 1fr;
                            column-gap: mvw(12);
                            padding-top: mvw(6);
                            padding-inline: mvw(27);
                        }
                    }
                    &-item {
                        max-width: vw(100);
                    }
                    &-image {
                        width: 100%;
                        @include mq() {
                            width: 100%;
                        }
                    }
                    &-name {
                        font-size: vw(14);
                        font-weight: 500;
                        color: $color-pink;
                        @include tracking(0);
                        margin-top: vw(4);
                        @include mq() {
                            font-size: mvw(14);
                            margin-top: mvw(4);
                        }
                    }
                }
            }
        }
        &-three {
            &.label-box__content {
                padding-bottom: vw(17);
                padding-inline: vw(19);
                @include mq() {
                    padding-top: mvw(25);
                    padding-bottom: mvw(30);
                    padding-inline: mvw(40);
                }
                &-text {
                    letter-spacing: 0.004em;
                }
            }
        }
    }
}

/*2つのコース------------------*/
.course {
    &__container {
        padding: vw(13) vw(19) vw(21) vw(21);
        @include mq() {
            padding: mvw(3) 0 mvw(60);
        }
    }
    &__title {
        &.section__title {
            margin-left: 0;
            @include mq() {
                margin-bottom: mvw(53);
            }
            &-sub {
                @include tracking(0);
                margin-left: vw(4);
                margin-bottom: vw(14);
                @include mq() {
                    margin-left: mvw(4);
                    margin-bottom: mvw(14);
                    margin-bottom: mvw(19);
                }
            }
            &-main {
                font-feature-settings: "palt";
                &-text {
                    @include mq() {
                        letter-spacing: 0.06em;
                    }
                    &::before {
                        left: calc(50% + vw(94.5));
                        @include mq() {
                            left: calc(50% + mvw(129));
                        }
                    }
                    &::after {
                        right: calc(50% + vw(97.5));
                        @include mq() {
                            right: calc(50% + mvw(129));
                        }
                    }
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: vw(32);
        justify-content: center;
        margin-inline: auto;
        @include mq() {
            max-width: mvw(730);
            flex-direction: row;
            row-gap: 0;
            column-gap: mvw(30);
            align-items: flex-start;
        }
    }
    &__item {
        &.label-box {
            @include mq() {
                max-width: mvw(350);
            }
            &__title {
                background-color: $color-lightpink;
                color: $color-pink;
                @include mq() {
                    padding-block: mvw(8);
                }
            }
            &__content {
                letter-spacing: 0.01em;
                padding-bottom: vw(18);
                padding-inline: vw(19);
                @include mq() {
                    font-size: mvw(18);
                    padding-top: mvw(9);
                    padding-bottom: mvw(18);
                    padding-inline: mvw(19);
                }
                &-image {
                    width: 100%;
                    margin-top: vw(12);
                    margin-inline: auto;
                    @include mq() {
                        margin-top: mvw(11);
                    }
                }
            }
        }
        &-two {
            &.label-box {
                &__content {
                    @include mq() {
                        line-break: anywhere;
                    }
                }
            }
        }
    }
}

/*お客様の声------------------*/
.voices {
    background-color: $color-lightpink;
    &__container {
        max-width: 100%;
        padding-top: vw(36);
        padding-bottom: vw(14);
        @include mq() {
            padding-top: mvw(52);
            padding-bottom: mvw(30);
        }
    }
    &__title {
        &.section__title {
            margin-left: 0;
            @include mq() {
                margin-bottom: 45px;
            }
            &-sub {
                @include tracking(0);
                margin-left: vw(4);
                margin-bottom: vw(14);
                @include mq() {
                    margin-left: mvw(4);
                    margin-bottom: mvw(14);
                    margin-bottom: mvw(19);
                }
            }
            &-main {
                font-feature-settings: "palt";
                &-text {
                    font-size: vw(31.89);
                    letter-spacing: 0.02em;
                    @include mq() {
                        font-size: mvw(41.71);
                        letter-spacing: 0.02em;
                    }
                    &::before {
                        left: calc(50% + vw(98));
                        @include mq() {
                            left: calc(50% + mvw(129));
                        }
                    }
                    &::after {
                        right: calc(50% + vw(98));
                        @include mq() {
                            right: calc(50% + mvw(129));
                        }
                    }
                }
            }
        }
    }
    &__swiper-container {
        width: 100%;
        position: relative;
        height: vw(257);
        padding-top: vw(29);
        margin-inline: auto;
        @include mq() {
            max-width: mvw(966);
            height: mvw(289);
            padding-top: mvw(47);
        }
    }
}

/*swiperスライド*/
.swiper {
    width: 100%;
    &-button-next,
    &-button-prev {
        display: none;
    }
    &-pagination {
        position: absolute;
        bottom: vw(5) !important;
        z-index: 10;
        @include mq() {
            bottom: mvw(18) !important;
        }

        &-bullets {
            font-size: 0;
        }
        &-bullet {
            width: vw(15);
            height: vw(15);
            background-color: $color-dot;
            margin: 0 vw(8) !important;
            @include mq() {
                width: mvw(15);
                height: mvw(15);
                margin: 0 mvw(8) !important;
            }
            &-active {
                background-color: $color-pink;
            }
        }
    }
}

.voices__swiper-item.label-box {
    width: vw(308);
    // height: vw(188);
    margin-inline: 0;
    @include mq() {
        width: mvw(308);
        // height: mvw(188);
    }
    &__content {
        display: grid;
        grid-template-columns: 32% 1fr;
        align-items: flex-start;
        column-gap: vw(15);
        @include tracking(0);
        padding-bottom: vw(14);
        padding-inline: vw(19);
        @include mq() {
            column-gap: mvw(15);
            padding-top: mvw(15);
            padding-bottom: mvw(12);
            padding-inline: mvw(17);
        }
        &-image {
            display: block;
            height: 100%;
            margin-inline: auto;
            @include mq() {
                height: mvw(114);
            }
        }
    }
    &__title {
        text-align: center;
        @include mq() {
            font-size: mvw(18.01);
            padding-block: mvw(9);
        }
    }
    &__text {
        display: flex;
        flex-direction: column;

        &-title {
            font-size: vw(16);
            color: $color-pink;
            margin-bottom: 6px;
            @include mq() {
                font-size: mvw(16);
                margin-bottom: mvw(6);
            }
        }
        &-description {
            font-size: vw(14);
            @include mq() {
                font-size: mvw(14.01);
                @include font-lin(14.01, 21.01);
            }
        }
    }
}

/*フッター------------------*/
.footer {
    width: 100%;
    height: vw(64);
    background-color: $color-pink;
    @include mq() {
        height: mvw(128);
    }
    &__container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        width: vw(75);
        padding-top: vw(2);
        @include mq() {
            width: mvw(145);
            padding-top: mvw(9);
        }
    }
}
