@charset "UTF-8";
/* scss関数群
------------------------------------------ */
/* 共通------------------ */
/* スムーススクロール */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

/* カラー変数 */
/* リセット */
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.w-container {
  max-width: 390px;
  height: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .w-container {
    max-width: 1028px;
  }
}

/* bodyフォント・ボックスサイジング*/
body {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}

/*セクション共通*/
/*セクション*/
.section__title {
  margin-left: 3px;
}
.section__title--top {
  font-size: 18px;
  font-weight: 500;
  color: #4d2b1b;
  line-height: 1.5555555556;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 15px;
}
.section__title--bottom {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: #fa7da3;
  line-height: 0.875;
  letter-spacing: 0.05em;
}
.section__title--bottom p {
  margin-left: 2px;
}
.section__title--bottom img {
  position: absolute;
  bottom: -10px;
  width: 38px;
  vertical-align: middle;
}
.section__title--bottom img:first-child {
  left: 25px;
}
.section__title--bottom img:last-child {
  right: 29px;
}

/*ラベルボックス*/
.label-box {
  border: solid 1px #fa7da3;
  border-radius: 10px;
  text-align: center;
}
.label-box__title {
  background-color: #fa7da3;
  color: #fff;
  padding-block: 9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}
.label-box__content {
  font-size: 14px;
  letter-spacing: 0.04em;
  font-feature-settings: "palt";
  text-align: left;
  background-color: #fff;
  padding-block: 15px;
  padding-inline: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*ヘッダー------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-inline: 9px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-inline: 0;
  }
}
.header__logo {
  display: block;
  width: 72px;
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 97px;
  }
}

.header-button-container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header-button-container {
    gap: 21px;
    margin-right: 3px;
  }
}
.header-button-container__button {
  display: inline-block;
  height: 31px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 15.5px;
  background-color: #fa7da3;
  padding: 9px 5px;
  letter-spacing: 0.04em;
  line-height: 1;
  margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .header-button-container__button {
    height: 50.36px;
    font-size: 21.12px;
    border-radius: 25.18px;
    padding: 15px 5px;
    margin-bottom: -1px;
  }
}
.header-button-container__button--small {
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .header-button-container__button--small {
    font-size: 16.74px;
  }
}
.header-button-container__button--right-arrow {
  width: 6px;
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .header-button-container__button--right-arrow {
    width: 11px;
    margin-left: 4px;
  }
}
.header-button-container li:nth-of-type(1) a {
  width: 107px;
  background-color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .header-button-container li:nth-of-type(1) a {
    width: 189.01px;
  }
}
.header-button-container li:nth-of-type(2) a {
  width: 173.77px;
  background-color: #49c43d;
}
@media screen and (min-width: 768px) {
  .header-button-container li:nth-of-type(2) a {
    width: 295.49px;
  }
}

/*メインビジュアル------------------*/
.main-visual {
  margin-top: 60px;
  width: 100%;
  height: 314px;
  background-color: #fa7da3;
  background-image: url("/assets/image/woman_sp.png");
  background-size: 54.5%;
  background-position: 5px bottom;
}
@media screen and (min-width: 768px) {
  .main-visual {
    margin-top: 90px;
    height: 614px;
    background-image: url("/assets/image/woman_pc.png");
    background-size: 34.2%;
    background-position: 204px bottom;
  }
}
.main-visual__container {
  color: #fff;
}
.main-visual__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 19px;
}
@media screen and (min-width: 768px) {
  .main-visual__title {
    margin-left: 47px;
  }
}
.main-visual__title--left {
  text-align: center;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .main-visual__title--left {
    margin-top: 18px;
  }
}
.main-visual__title--left h1 {
  font-size: 42px;
  line-height: 1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main-visual__title--left h1 {
    font-size: 122.15px;
    text-shadow: 0 0 35px #fa7da3, 0 0 35px #fa7da3, 0 0 35px #fa7da3, 0 0 35px #fa7da3, 0 0 35px #fa7da3, 0 0 35px #fa7da3;
    margin-top: 6px;
  }
}
.main-visual__title--left p {
  font-size: 18px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .main-visual__title--left p {
    font-size: 36px;
    text-align: right;
    margin-top: 10px;
    margin-right: -30px;
  }
}
.main-visual__title--bottom {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  text-align: end;
  margin-right: 25px;
  margin-top: 6px;
}
@media screen and (min-width: 768px) {
  .main-visual__title--bottom {
    font-size: 26.5px;
    margin-right: 93px;
    margin-top: 5px;
  }
}
.main-visual__title--bottom span {
  font-size: 9px;
}
@media screen and (min-width: 768px) {
  .main-visual__title--bottom span {
    font-size: 17px;
  }
}
.main-visual__badge {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  justify-content: flex-end;
  gap: 12px;
  padding-right: 26px;
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .main-visual__badge {
    gap: 20px;
    padding-right: 30px;
    margin-top: 45px;
  }
}
.main-visual__badge li {
  width: 133px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  border: solid 1px #fff;
  margin-block: auto;
}
@media screen and (min-width: 768px) {
  .main-visual__badge li {
    width: 423px;
    height: 69px;
    font-size: 28px;
  }
}
.main-visual__badge p {
  line-height: 31px;
}
@media screen and (min-width: 768px) {
  .main-visual__badge p {
    line-height: 67px;
  }
}

.main-visual-title-right-badge-group {
  display: flex;
  width: 188px;
  height: 107px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3.536px 3.536px 0px 0px rgba(0, 0, 0, 0.075);
  padding-block: 23px;
  padding-left: 27px;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group {
    width: 423px;
    height: 222px;
    grid-template-columns: 108px auto;
    gap: 0px;
    padding-block: 44px;
    padding-left: 59px;
    margin-right: 30px;
  }
}
.main-visual-title-right-badge-group__left {
  display: flex;
  flex-direction: column;
}
.main-visual-title-right-badge-group__left--now {
  width: 47px;
  height: 23px;
  font-size: 13px;
  font-weight: 700;
  color: #fa7da3;
  text-align: center;
  background-color: #fff;
  margin-top: 2px;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group__left--now {
    width: 105.76px;
    height: 51.65px;
    font-size: 29.25px;
    padding-top: 3px;
    margin-top: 2px;
  }
}
.main-visual-title-right-badge-group__left--first {
  font-size: 24px;
  font-weight: 700;
  margin-top: 2px;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group__left--first {
    font-size: 54px;
    margin-top: 6px;
  }
}
.main-visual-title-right-badge-group__right {
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #fffd7a;
  padding-left: 13px;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group__right {
    padding-left: 29px;
  }
}
.main-visual-title-right-badge-group__right p {
  font-size: 72px;
  line-height: 0.7;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group__right p {
    font-size: 160px;
    letter-spacing: 0.04em;
    line-height: 0.7;
  }
}
.main-visual-title-right-badge-group__right span {
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  .main-visual-title-right-badge-group__right span {
    font-size: 81px;
  }
}

/*キャンペーン------------------*/
.campaign {
  background-color: #fffedd;
}
.campaign__container {
  text-align: center;
  padding: 19px 19px 16px;
}
@media screen and (min-width: 768px) {
  .campaign__container {
    padding: 38px 19px 23px;
  }
}
.campaign__top {
  display: inline-block;
  position: relative;
  font-size: 21px;
  color: #fa7da3;
  margin-bottom: 10px;
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  .campaign__top {
    font-size: 34px;
    margin-bottom: 18px;
  }
}
.campaign__top span {
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  .campaign__top span {
    margin-left: 13px;
  }
}
.campaign__top::before {
  position: absolute;
  bottom: 2px;
  left: -15px;
  content: "";
  display: inline-block;
  width: 2px;
  height: 27px;
  background-color: #fa7da3;
  transform: rotate(-30deg);
}
@media screen and (min-width: 768px) {
  .campaign__top::before {
    left: -20px;
    height: 43px;
  }
}
.campaign__top::after {
  position: absolute;
  bottom: 2px;
  right: -15px;
  content: "";
  display: inline-block;
  width: 2px;
  height: 27px;
  background-color: #fa7da3;
  transform: rotate(30deg);
}
@media screen and (min-width: 768px) {
  .campaign__top::after {
    right: -23px;
    height: 43px;
  }
}
.campaign__middle.label-box {
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  .campaign__middle.label-box {
    width: 550px;
    margin-inline: auto;
  }
}
.campaign__middle.label-box__title {
  font-size: 21px;
  line-height: 1;
  padding-top: 3px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .campaign__middle.label-box__title {
    font-size: 32px;
    padding-bottom: 11px;
  }
}
.campaign__middle.label-box__content {
  padding-block: 20px;
  font-size: 27px;
  text-align: center;
  color: #fa7da3;
  line-height: 1;
  letter-spacing: 0em;
  font-feature-settings: normal;
  padding-top: 7px;
  padding-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .campaign__middle.label-box__content {
    font-size: 43.67px;
    padding-top: 10px;
    padding-bottom: 21px;
  }
}
.campaign__middle.label-box__content p {
  padding-left: 11px;
}
@media screen and (min-width: 768px) {
  .campaign__middle.label-box__content p {
    padding-left: 19px;
  }
}
.campaign__middle.label-box__content span {
  font-size: 42px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .campaign__middle.label-box__content span {
    font-size: 67.93px;
  }
}
.campaign__bottom {
  font-size: 10px;
  letter-spacing: 0.005em;
  margin-top: 7px;
}
@media screen and (min-width: 768px) {
  .campaign__bottom {
    font-size: 14px;
    margin-top: 17px;
  }
}

/*カウンセリング------------------*/
.counseling__container {
  text-align: center;
  padding: 13px 20px 30px;
}
@media screen and (min-width: 768px) {
  .counseling__container {
    width: 570px;
    padding: 52px 0 47px;
  }
}
.counseling__title {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fa7da3;
  margin-bottom: 8px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .counseling__title {
    font-size: 34px;
    margin-bottom: 13px;
    margin-left: 14px;
  }
}
.counseling__button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: #49c43d;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  border-radius: 40px;
  padding-block: 11px;
  padding-left: 70px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .counseling__button {
    width: 570px;
    height: 130px;
    font-size: 34px;
    border-radius: 65.05px;
    padding-block: 17px;
    padding-left: 116px;
  }
}
.counseling__button p {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .counseling__button p {
    width: 340px;
  }
}
.counseling__button--br {
  display: inline-block;
}
.counseling__button--right-arrow {
  position: absolute;
  right: 32px;
  top: calc(50% - 10px);
}
@media screen and (min-width: 768px) {
  .counseling__button--right-arrow {
    width: 20px;
    right: 50px;
    top: calc(50% - 16px);
  }
}

/*トライアル------------------*/
.trial__container {
  padding: 0 20px 35px;
}
@media screen and (min-width: 768px) {
  .trial__container {
    width: 570px;
    padding: 0 0 51px;
  }
}
.trial__title {
  font-size: 17px;
  font-weight: 600;
  color: #50bfff;
  line-height: 1.6470588235;
  letter-spacing: 0.1em;
  text-align: center;
  border-top: #50bfff 1px solid;
  border-bottom: #50bfff 1px solid;
  padding-block: 5.5px;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .trial__title {
    font-size: 28px;
    border-top: #50bfff 2px solid;
    border-bottom: #50bfff 2px solid;
    padding-top: 6.5px;
    padding-bottom: 11px;
    margin-bottom: 16px;
  }
}
.trial__content {
  font-size: 14px;
  letter-spacing: -0.007em;
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  .trial__content {
    font-size: 22.86px;
    letter-spacing: -0.01em;
    margin-left: 0;
  }
}
.trial__content li {
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .trial__content li {
    margin-bottom: 5px;
  }
}
.trial__content--small {
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .trial__content--small {
    font-size: 17.96px;
  }
}

/*3つのポイント------------------*/
.point__container {
  padding: 31px 20px 30px;
}
@media screen and (min-width: 768px) {
  .point__container {
    width: 570px;
    padding: 52px 0 47px;
  }
}
.point__title--top {
  display: flex;
  justify-content: center;
}
.point__title--top img {
  width: 197px;
  vertical-align: middle;
  padding-top: 4px;
}
.point__title--top p {
  padding-left: 3px;
}

.point-item-group {
  padding-block: 32px;
}

/*コース------------------*/
/*# sourceMappingURL=main.css.map */